PORT=5000
# Optional: Provide your local or MongoDB Atlas URI. If omitted or unreachable, in-memory MongoDB will be used automatically.
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/feedants
NODE_ENV=development
